@tailwind base;
@tailwind components;
@tailwind utilities;

/* Navbar link underline animation */
.nav-link {
  position: relative;
  display: inline-block;
}

.nav-link::after {
  content: '';
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #3f2265;
  transition: width 0.3s ease-in-out;
}

.nav-link:hover::after {
  width: 100%;
}

